@font-face {
    font-family:'DarumadropOne-Regular';
    src: url(DarumadropOne-Regular.ttf);
}

html {
    cursor:url('Assets/key.png'),auto;
    scroll-behavior: smooth;
}

html:active {
    cursor:url('Assets/key2.png'),auto;
}

body {
    background-color:#EDE6F8;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/*made a transparent url circle*/
.door_lock {
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    position: fixed;
    opacity: 0%;
    cursor:url('Assets/key.png'),auto;
}

.door_lock:active {
    cursor:url('Assets/key2.png'),auto;
}
/*made a transparent url circle*/


/*made a url-type text*/
.click_to_enter {
    top: 350px;
    left: 511px;
    font-size: 75px;
    line-height: 10px;
    font-family: 'DarumadropOne-Regular', fantasy;
    position: fixed;
    border:none;
    background: none;
    text-align: center;
}

.space_cursor {
    top: 346px;
    left: 511px;
    height: 253px;
    width: 404px;
    position: fixed;
    opacity: 0%;
    cursor:url('Assets/key.png'),auto;
}

.space_cursor:active {
    cursor:url('Assets/key2.png'),auto;
}
/*made a url-type text*/


.home_background {
    background-image: url(Assets/HOME\ background.png);
    z-index: 0;
    height: 3572px;

}


/*made navigation buttons*/
.navigation_button {
    border: none;
    background-color: transparent;
}

.Intro_button {
    width: 207px;
    height: 115px;
    left: 36px;
    top: 53px;
    position: absolute;
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Intro_button:active {
    cursor:url('Assets/key2.png'),auto;
}

.Home_button_text {
    width: 302px;
    height: 115px;
    left: 290px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Home_button_text:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project_button_text {
    width: 302px;
    height: 115px;
    left: 555px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Project_button_text:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project_button_text:hover {
    width: 317.41px;
    height: 115px;
    left: 547px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #81FFE7;
}

.AboutMe_button_text {
    width: 302px;
    height: 115px;
    left: 832px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.AboutMe_button_text:active {
    cursor:url('Assets/key2.png'),auto;
}

.AboutMe_button_text:hover {
    width: 317.41px;
    height: 115px;
    left: 824px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #FF4E5A;
}

.ContactMe_button_text {
    width: 315px;
    height: 115px;
    left: 1095px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.ContactMe_button_text:active {
    cursor:url('Assets/key2.png'),auto;
}

.ContactMe_button_text:hover {
    width: 317.41px;
    height: 115px;
    left: 1094px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #FFFF52;
}
/*made navigation buttons*/


/*made url link to project folder and text in computer*/
.Computer_text_1 {
    width: 315px;
    height: 115px;
    left: 620px;
    top: 317px;
    position: absolute;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.Project1_click {
    top: 421px;
    left: 247px;
    width: 309px;
    height: 330px;
    position: absolute;
    cursor:url('Assets/key.png'),auto;
}

.Project1_click:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project1_text_1 {
    width: 295px;
    height: 40px;
    left: 6px;
    top: 352px;
    position: absolute;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 32px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Project1_text_1:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project2_click {
    top: 430px;
    left: 585px;
    width: 309px;
    height: 330px;
    position: absolute;
    cursor:url('Assets/key.png'),auto;
}

.Project2_click:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project2_text_1 {
    width: 295px;
    height: 40px;
    left: 30px;
    top: 342px;
    position: absolute;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 32px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Project2_text_1:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project3_click {
    top: 421px;
    left: 922px;
    width: 309px;
    height: 330px;
    position: absolute;
    cursor:url('Assets/key.png'),auto;
}

.Project3_click:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project3_text_1 {
    width: 295px;
    height: 40px;
    left: 10px;
    top: 352px;
    position: absolute;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 32px;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Project3_text_1:active {
    cursor:url('Assets/key2.png'),auto;
}
/*made url link to project folder and text in computer*/


/*made url link to about me*/
.AboutMe_click {
    top: 1091px;
    left:17px;
    width: 1440px;
    height: 935px;
    position: absolute;
    cursor:url('Assets/key.png'),auto;
}

.AboutMe_click:active {
    cursor:url('Assets/key2.png'),auto;
}
/*made url link to about me*/


/*made url link to contact*/
.Contact_click {
    position: absolute;
    width: 470px;
    height: 140px;
    left: 503px;
    top: 2662px;
    border-radius: 67.5px;
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Contact_click:active {
    cursor:url('Assets/key2.png'),auto;
}

.Contact_click:hover {
    position: absolute;
    left: 503px;
    top: 2662px;
    border-radius: 67.5px;
    background-image: url(Assets/chatbox\ 3.png);
    cursor:url('Assets/key.png'),auto;
}
/*made url link to contact*/


/*back to top button*/
.back_to_top {
    bottom:50px;
    right: 10px;
    rotate:calc(270deg);
    position:fixed;
    cursor:grab;
    z-index: 3;
}

.back_to_top:active {
    cursor: grabbing;
}
/*back to top button*/


/*made navigation buttons2*/
.Home_button_text2 {
    width: 302px;
    height: 115px;
    left: 290px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Home_button_text2:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project_button_text2 {
    width: 302px;
    height: 115px;
    left: 565px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Project_button_text2:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project_button_text2:hover {
    width: 317.41px;
    height: 115px;
    left: 557px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #FF4E5A;
}

.AboutMe_button_text2 {
    width: 302px;
    height: 115px;
    left: 832px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.AboutMe_button_text2:active {
    cursor:url('Assets/key2.png'),auto;
}

.AboutMe_button_text2:hover {
    width: 317.41px;
    height: 115px;
    left: 828px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #FFFF52;
}

.ContactMe_button_text2 {
    width: 315px;
    height: 115px;
    left: 1080px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.ContactMe_button_text2:active {
    cursor:url('Assets/key2.png'),auto;
}

.ContactMe_button_text2:hover {
    width: 317.41px;
    height: 115px;
    left: 1080px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #8147FF;
}
/*made navigation buttons2*/


/*create Project1 title*/
.Project1_name {
    position: absolute;
    width: 414px;
    height: 27px;
    left: 585px;
    top: 260px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 45px;
    line-height: 65px;
}
/*create Project1 title*/


/*Project1_text_2*/
.Project1_text_2 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 531px;
    height: 50px;
    left: 137px;
    top: 1658px;
    background: #FF8080;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project1_text_2*/


/*Project1_text_3*/
.Project1_text_3{
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 1170px;
    height: 270px;
    left: 137px;
    top: 1844px;
    background: #FFBD80;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project1_text_3*/


/*Project1_text_4*/
.Project1_text_4 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 857px;
    height: 50px;
    left: 138px;
    top: 2246px;
    background: #B8FF80;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project1_text_4*/


/*Project1_text_5*/
.Project1_text_5 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 472px;
    height: 50px;
    left: 137px;
    top: 2370px;
    background: #80E1FF;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project1_text_5*/


/*Project1_text_6*/
.Project1_text_6 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 601px;
    height: 50px;
    left: 137px;
    top: 2980px;
    background: #B880FF;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project1_text_6*/


/*Project1_text_7*/
.Project1_text_7 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 171px;
    height: 50px;
    left: 138px;
    top: 3104px;
    background: #FF9FFC;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project1_text_7*/


/*create Project2 title*/
.Project2_name {
    position: absolute;
    width: 414px;
    height: 27px;
    left: 659px;
    top: 261px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 45px;
    line-height: 65px;
}
/*create Project2 title*/

/*Project2_text_2*/
.Project2_text_2 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 201px;
    height: 50px;
    left: 139px;
    top: 1527px;
    background: #FF8080;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project2_text_2*/


/*Project2_text_3*/
.Project2_text_3 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 1171px;
    height: 266px;
    left: 139px;
    top: 1655px;
    background: #FFBD80;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project2_text_3*/


/*Project2_text_4*/
.Project2_text_4 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 1019px;
    height: 50px;
    left: 139px;
    top: 2006px;
    background: #FDFF80;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project2_text_4*/

/*Project2_text_5*/
.Project2_text_5 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 171px;
    height: 50px;
    left: 139px;
    top: 2134px;
    background: #B8FF80;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project2_text_5*/


/*create Project3 title*/
.Project3_name {
    position: absolute;
    width: 414px;
    height: 27px;
    left: 690px;
    top: 265px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 45px;
    line-height: 65px;
}
/*create Project3 title*/


/*Project3_text_2*/
.Project3_text_2 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 321px;
    height: 50px;
    left: 121px;
    top: 1359px;
    background: #FF8080;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project3_text_2*/


/*Project3_text_3*/
.Project3_text_3 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 1245px;
    height: 194px;
    left: 121px;
    top: 1491px;
    background: #FFBD80;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project3_text_3*/


/*Project3_text_4*/
.Project3_text_4 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 911px;
    height: 50px;
    left: 129px;
    top: 1767px;
    background: #FDFF80;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project3_text_4*/


/*Project3_text_5*/
.Project3_text_5 {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    position: absolute;
    width: 375px;
    height: 50px;
    left: 129px;
    top: 1899px;
    background: #B8FF80;
    align-items: center;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
/*Project3_text_5*/

/*made navigation buttons5*/
.Home_button_text3 {
    width: 302px;
    height: 115px;
    left: 290px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Home_button_text3:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project_button_text3 {
    width: 302px;
    height: 115px;
    left: 565px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Project_button_text3:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project_button_text3:hover {
    width: 317.41px;
    height: 115px;
    left: 557px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #FFFF52;
}

.AboutMe_button_text3 {
    width: 302px;
    height: 115px;
    left: 832px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.AboutMe_button_text3:active {
    cursor:url('Assets/key2.png'),auto;
}

.AboutMe_button_text3:hover {
    width: 317.41px;
    height: 115px;
    left: 826px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #8147FF;
}

.ContactMe_button_text3 {
    width: 315px;
    height: 115px;
    left: 1080px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.ContactMe_button_text3:active {
    cursor:url('Assets/key2.png'),auto;
}

.ContactMe_button_text3:hover {
    width: 317.41px;
    height: 115px;
    left: 1083px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #81FFE7;
}
/*made navigation buttons5*/


/*About_Me_text_1*/
.About_Me_text_1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px 8px 8px;
    gap: 8px;
    position: absolute;
    width: 536px;
    height: 167px;
    left: 695px;
    top: 701px;
    background: #CEF7FF;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
/*About_Me_text_1*/


/*About_Me_text_2*/
.About_Me_text_2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px 8px 8px;
    gap: 8px;
    position: absolute;
    width: 536px;
    height: 224px;
    left: 695px;
    top: 933px;
    background: #FAB8FF;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
/*About_Me_text_2*/


/*made navigation buttons6*/
.Home_button_text4 {
    width: 302px;
    height: 115px;
    left: 290px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Home_button_text4:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project_button_text4 {
    width: 302px;
    height: 115px;
    left: 565px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.Project_button_text3:active {
    cursor:url('Assets/key2.png'),auto;
}

.Project_button_text4:hover {
    width: 317.41px;
    height: 115px;
    left: 555px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #8147FF;
}

.AboutMe_button_text4 {
    width: 302px;
    height: 115px;
    left: 832px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.AboutMe_button_text4:active {
    cursor:url('Assets/key2.png'),auto;
}

.AboutMe_button_text4:hover {
    width: 317.41px;
    height: 115px;
    left: 825px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #81FFE7;
}

.ContactMe_button_text4 {
    width: 315px;
    height: 115px;
    left: 1080px;
    top: 50px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    z-index: 6;
    cursor:url('Assets/key.png'),auto;
}

.ContactMe_button_text4:active {
    cursor:url('Assets/key2.png'),auto;
}

.ContactMe_button_text4:hover {
    width: 317.41px;
    height: 115px;
    left: 1085px;
    top: 52px;
    border-radius: 64.5px ;
    background-color: #ff7575;
}
/*made navigation buttons6*/



.my_name {
    position: absolute;
    width: 474px;
    height: 32px;
    left: 538px;
    top: 530px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    color: white;
    z-index: 3;
}

.email_icon {
    cursor:url('Assets/key.png'),auto;
}

.email_icon:active {
    cursor:url('Assets/key2.png'),auto;
}

.my_email {
    position: absolute;
    width: 535px;
    height: 32px;
    left: 538px;
    top: 648px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    color: white;
    z-index: 3;
    cursor:url('Assets/key.png'),auto;
}

.my_email:active {
    cursor:url('Assets/key2.png'),auto;
}

.my_name {
    position: absolute;
    width: 474px;
    height: 32px;
    left: 538px;
    top: 530px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    color: white;
    z-index: 3;
}

.my_instagram_icon {
    cursor:url('Assets/key.png'),auto;
}

.my_instagram_icon:active {
    cursor:url('Assets/key2.png'),auto;
}

.my_instagram {
    position: absolute;
    width: 362px;
    height: 32px;
    left: 538px;
    top: 768px;
    font-family: 'DarumadropOne-Regular', fantasy;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    color: white;
    z-index: 3;
    cursor:url('Assets/key.png'),auto;
}

.my_instagram:active {
    cursor:url('Assets/key2.png'),auto;
}